body {
	background: #D3D3D3;
	margin: 0;
	padding: 0;
}

#jaguar  {
	width: 100%;
}

#banner  {
	width: 100%;
}


h1 {
	text-align: center;
}

.textos {
	background: white;
}

p {
	text-align: center;
}


